.container {
  height: 100vh;
  width: 100vw;
  background-color: #aa4465;

  display: flex;
}

.nav {
  background-color: #ffffff22;
  display: flex;
  flex-direction: column;
  width: 300px;

  font-size: 40px;
  color: white;
  padding: 20px;
}

.panel {
  height: 100%;
  width: 100%;

  font-size: 40px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
