html,
body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uiPanel {
  height: 100%;
  width: 100%;
}

.tableComponent {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #ffffff22;
}

.tableComponent table {
  border-collapse: collapse;
  min-width: 100%;
  text-align: center;
}

.tableComponent th {
  color: white;
  padding: 5px;
  border-right: 2px solid #ffffff44;

  background-color: #ffffff22;
}

.tableComponent td {
  color: black;
  padding: 5px;
  border-right: 2px solid #ffffff44;

  background-color: #ffffff44;
}

.tableComponent tr:nth-child(2n) {
  background-color: #ffffff22;
}

.tableComponent th:last-child,
.tableComponent td:last-child {
  border-right: none;
}
